head
	title The Global Young Entrepreneurs Competition

	// meta 
	meta(charset="utf-8")

	// favicon 
	link(rel="icon" type="image/png" href="favicon.png")
	
	// styles 
	link(href="css/styles.css", rel="stylesheet")