.l-left.j-left.is-visible
	.l-left-in
		a(href="#" title="GYEC").l-logo
		.l-logo-text

		ul.l-menu.j-leftMenu
			li.is-active: a(href="#about")
				.l-menu-bg
				.l-menu-text About US
			li: a(href="#requir")
				.l-menu-bg
				.l-menu-text Requirements
			li: a(href="#terms")
				.l-menu-bg
				.l-menu-text Terms
			li: a(href="#criterion")
				.l-menu-bg 
				.l-menu-text Criteria
			li: a(href="#awards")
				.l-menu-bg 
				.l-menu-text Awards
			li: a(href="#partners")
				.l-menu-bg 
				.l-menu-text Partners
			li: a(href="#history")
				.l-menu-bg 
				.l-menu-text History
			li: a(href="#contacts")
				.l-menu-bg 
				.l-menu-text Contact Us