.portfolio
	padding-top 20px
	position relative
	width 460px
	margin 0 auto
		
	&_name
		display inline-block
		margin-bottom 30px
		padding-right 20px
		padding-bottom 10px
		font 26px f-ptsans
		font-weight 700
		font-family f-exo2
		text-transform uppercase
		border-bottom 2px solid alpha(grey, .5)

		&-desc
			color grey
			font-size 14px
			line-height 14px
			margin-bottom 100px
			
	
	&_content
		clearfix()
		@media xl
			wrap()
			gutter(20px)
			
.portfolio-item
	position relative
	margin-bottom 60px
	
	&:hover
		a
			color c-orange
			border-color c-orange
			
		.portfolio-item_pic
			&:after
				background alpha(black, .5)
				
	@media xl
		col(2,1)
		padding 0 20px
	
	&_name
		position absolute
		z-index 2
		width 100%
		left 0px
		bottom 0px
		margin-bottom -1px
		padding 20px 20px 20px 30px
		border-left 3px solid c-orange
		background alpha(black, .6)
		div
			padding-top 10px
			font-size 14px
			color c-white
		a
			border-bottom 1px solid c-white
			padding-right 20px
			font 22px f-ptsans
			font-weight 700
			text-transform uppercase
			color c-white
			tdn()
			anim()
			&:hover
				color c-orange
			
		
	&_desc
		display none
		padding-bottom 20px
	
	&_pic
		overflow hidden
		position relative
		height 400px
		border 1px solid alpha(black, .8)
		
		img
			position relative
			display block
			height 400px
		&:after
			content " "
			position absolute
			left 0px
			top 0px
			width 100%
			height 100%
			background alpha(black, .0)
			anim()
			
		
	&_links
		display none
		.fa
			margin-right 10px
		.btn
			margin-right 10px